.ErrorMessage {
    background-color: whitesmoke;
    width: 300px;
    top: 25%;
    position: fixed;
    transform: translate(-50%);
    justify-content: center;
    display: flex;
    padding: 40px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 20px -5px rgb(172, 172, 172);
    z-index: 6;
    color: rgb(206, 0, 0);
}