.Modal {
    position: fixed;
    display: flex;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 75%;
    z-index: 2;
    transform: translateX(-50%);
    transition: opacity 500ms, transform 500ms;
}