.InputContainer {
    margin: 16px 0;
    box-sizing: border-box;
}

.InputContainer > label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 0.9rem;
}

.Input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px -2px #ccc;
    box-sizing: border-box;
    width: 100%;
}

.Input:focus,
.Input:hover {
    background-color: #eee;
    outline: none;
}

.Invalid {
    border: 1px solid rgb(255, 123, 123);
    background-color: rgb(255, 233, 231);
}