.BurgerWrapper {
    /* display vertical scrollbar only when needed */
    overflow-y: auto; 
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    height: 300px;
    padding: 20px 0px;
    box-shadow: 0px 0px 20px -5px rgb(197, 197, 197);
    margin: 0px 16px 30px 16px;
    border-radius: 6px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    align-items: center;
    border: 1px solid rgba(200, 200, 200, 0.4);

    display: flex;
    align-self: center;
}

.Burger {
    margin: 0 auto;
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

@media (min-width: 480px) {
    .BurgerWrapper {
        max-width: 450px;
        margin: 0px auto 30px auto;
    }
}

.BurgerWrapperAlt {
    height: auto;
}