.Backdrop {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
    animation: blur-in 100ms /* duration */ 500ms /* delay */ forwards /* animation-fill-mode */;
  }
  
  @keyframes blur-in {
    from {
      backdrop-filter: blur(0px);
    }
    to {
      backdrop-filter: blur(2px);
    }
  }