.ListElementWrapper {
    display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    align-items: stretch;
    flex-wrap: wrap;
}

.ListElementWrapper:hover {
    background-color: rgb(244, 244, 244);
}

.ListElement {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.ListElement div {
    padding: 0 10px;
    margin: 4px;
}

.ListElement:hover {
    background-color: rgb(233, 158, 87, 0.5);
    cursor: default;
}

.Property {
    font-weight: 600;
    text-transform: capitalize;
}